@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body{
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  min-width: 200px;
  
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  height: 200px;

}
.content-div2 { 
  min-width: 200px;
 
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  height: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(49, 45, 45, 0.342),
    hsla(240, 10%, 43%, 0.507)
  )!important;


}

.content-div2:hover {
  background-image: linear-gradient(
    to right,
    rgba(49, 45, 45, 0.342),
    hsla(240, 10%, 43%, 0.507)
  )!important;
 
}